.jumbotron {
    background: url(../image/header.svg)
    center no-repeat;
    background-size: cover;
    height: 360px
  }

#top-image {
color: #fff;
font-size: 100px;
text-align: center;
font-family: 'Special Elite', cursive;
font-weight: bold;
}

#icon {
background: #fff;
}
